<nav class="sidebar-nav" id="main-nav">
    <ul>
        <li class="nav-section-title">Clients</li>
        <li>
            <NavLink class="nav-link" href="clients" Match="NavLinkMatch.All">
                <i class="fa-solid fa-users icon"></i>
                <span>Clients</span>
            </NavLink>
        </li>
    </ul>
    <ul>
        <li class="nav-section-title">Pet Walkers</li>
        <li>
            <NavLink class="nav-link" href="petwalkers" Match="NavLinkMatch.All">
                <i class="fa-solid fa-person-walking icon"></i>
                <span>Pet Walkers</span>
            </NavLink>
        </li>
    </ul>
    <ul>
        <li class="nav-section-title">Bookings</li>
        <li>
            <NavLink class="nav-link" href="bookings" Match="NavLinkMatch.All">
                <i class="fa-solid fa-calendar-days icon"></i>
                <span>Booking Management</span>
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="booking-test" Match="NavLinkMatch.All">
                <i class="fa-solid fa-flask icon"></i>
                <span>Booking Test</span>
            </NavLink>
        </li>
    </ul>
    <ul>
        <li class="nav-section-title">Other</li>
        <li>
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <i class="fa-solid fa-chart-simple icon"></i>
                <span>Dashboard</span>
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="settings">
                <i class="fa-solid fa-gear icon"></i>
                <span>Settings</span>
            </NavLink>
        </li>
    </ul>
</nav>

@code {
    // Your code here
}
